.credit-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding: 1rem 1.5rem 0px;
}

.credit-amount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.credit-image {
  height: 160px;
}
@media (max-width: 575px) {
  .credit-container {
  }
  .credit-image {
  }
}
.credit-amount-text {
  display: flex;
  align-items: center;
  color: #16dbaa;
  margin-bottom: 0;
}

.credit-text {
  color: #718ebf;
  margin: 0;
}
