.credit-container {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: repeat(2,1fr); */
  padding: 1rem 1.5rem 0px;
  box-shadow: 3px 3px 5px rgb(0 0 0/8%);
}
.credit-container:hover {
  box-shadow: 0 0 9px rgb(0 0 0/5%);
  scale: 102%;
}

.credit-amount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.credit-image-container {
}

.credit-image {
  /* width: 100%; */
  /* object-fit: contain; */
  height: 160px;
}
.credit-amount-text {
  display: flex;
  align-items: center;
  color: #16dbaa;
}

.credit-text {
  color: #718ebf;
}

@media (max-width: 1020px) {
  .credit-container {
  }
  .credit-image {
    height: 120px;
  }
}
@media (max-width: 575px) {
  .credit-container {
  }
  .credit-image {
    height: 80px;
  }
}
