.debit-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding: 1rem 1.5rem 0px;
}

.debit-image {
  height: 160px;
}
@media (max-width: 575px) {
  .debit-container {
   
  }
  .debit-image {
    height: 80px;
  }
}
.debit-amount-text {
  display: flex;
  align-items: center;
  color: #fe5c73;
  margin-bottom: 0;
}

.debit-text {
  color: #718ebf;
  margin: 0;
  margin-left: 9px;
}
