.home-container{
    padding: 2rem;
    height: calc(100dvh - 60px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    /* flex-grow: 1; */

}
@media (max-width:950px) {
    .home-container{
        padding: 1.5rem;
    }
}
@media (max-width:768px) {
    .home-container{
        padding: 1.25rem;
        height:calc(100dvh - 155px );
    }
}