.user-info {
  overflow: hidden;
}

.ig{
  width: 40px;
  height: 40px;
}

.profile-box {
display: flex;
gap: 8px;
align-items: center;

}

.user-profile {
  width: 100%;
  padding: 10px 6px ;
  position: absolute;
  bottom: 0%;


 
}

@media (max-width: 575px) {
  .profile-box {
    display: none;
  }
  .user-profile {

  }
}
.user-text {
  font-size:20px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-text{
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
