.sidebar-container {
  position: relative;
  width: 250px;
  height: 100%;
  border-right: 1px solid #e2e2e2;
  background-color: #fff;
}

.logo-container {
  padding: 20px;
}

.link-li-container {
  list-style-type: none;
  position: relative;
}

.link-item {
  text-decoration: none;
  color: #505887;
}

.ic{
  font-size: 25px;
}

.list-item {
  padding: 20px ;
  display: flex;
  align-items: center;
padding-left: 35px;
  gap: 14px;
}

.active-item {
  color: #2d60ff;
  display: flex;
  align-items: center;
}

.active-item::before {
  content: "";
  background-color: #2d60ff;
  padding: 5px;
  height: 30px;
  position: absolute;
  left: -5px;
  border-radius: 5px;
}
/* @media (max-width: 575px) {
  .sidebar-container {
    width: 100vw;
    height: 100px;
  }
  .logo-container {
    padding: 0%;
    padding-top: 14px;
    padding-left: 14px;
  }
  .link-item {
    margin: 0;
  }

  .link-item:nth-child(3) {
    padding-left: 6px;
    padding-right: 6px;
  }
  .link-li-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    gap: 0px;
    font-size: small;
  }
  .list-item {
    gap: 3px;

    margin: 0;
    padding: 8px 8px 5px 8px;
  }
  .active-item {
    border-bottom: 3px solid #2d60ff;
    border-radius: 12px 12px 0 0;
    background-color: #2d60ff10;
  }
  .active-item::before {
    display: none;
    padding: 0px;
    height: 00px;
    position: absolute;
    left: 0px;
    border-radius: 0px;
  }
} */


@media (max-width:768px) {

  .sidebar-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
  }
  .active-item::before{
    display: none;
  }
  .active-item{
    all: unset;
    background-color: #50588720;
    border-radius: 6px;
    /* box-shadow: 0 1px 9px rgb( 0 0 0 / 9%); */
  }
  .logo-container{
    padding: 10px;
  }
  .logo{
    height: 30px;
  }
  .link-li-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    order: 1;
  }
  .list-item {
    padding: 10px ;
    padding-left:12px;
    gap: 6px;
  }
  .ic{
    font-size: 16px;
    flex-shrink: 0;
  }
  .list-item{
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }
  .link-item{
    width: 33%;
  }
}

