.lg-btn{
  background-color:var(--theme-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  gap: 8px;
  padding: 10px;
  width: 100%;
  margin-top: 12px;
}
@media (max-width:768px) {
  .lg-btn{
    font-size: 10px;
    padding: 10px 16px;
    margin-top: 0%;
  }
}
.logout-container {
 padding: 2rem 1rem;
 display: flex;
 align-items: center;
 gap: 1rem;
}
.logout-logo-container{

}


.logout-cont{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.logout-txt-con > p{
  font-size: 14px;
  color: #2b2b2b;
}
.logout-btn {
  background-color: #dc2626;
  border: 0ch;
  outline: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;

}
.logout-btn-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
  gap: 12px 8px;
}
 .clgb{
}
.logout-logo {
  background-color: #fef3c7;
padding: 10px;
border-radius: 99px;
font-size: 50px;
}


.cancel-btn {
  background-color: transparent;
  border: 0ch;
  outline: none;
  color: #333b69;
  padding: 8px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
}
.sure-text {
}
.tx-cont{
}
